/* -------
   Polices
   ------- */
@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaNewBook.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaNewHeavy.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Bodoni';
  src: url('../fonts/BodoniFLF-Roman.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni';
  src: url('../fonts/BodoniFLF-Italic.ttf');
  font-style: italic;
}

/* -------
   Balises
   ------- */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  font-size: 2.2rem;
  font-family: 'Futura', sans-serif;
  color: #000000;
}

a {
  color: #343b95;
}

a:hover {
  color: #181b44;
}

h1,
h2,
h3,
h4 {
  margin: 16px 0 6px 0;
  padding: 0;
  font-weight: bolder;
}

h1 {
  margin-bottom: 12px;
  font-size: 5.2rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.2rem;
}

ul {
  margin: 0 0 16px 16px;
  padding: 0;
  list-style: inside square;
}

p {
  margin: 4px 0 12px 0;
  padding: 0;
}

pre {
  padding: 8px;
  word-wrap: normal;
  overflow: auto;
  border: 1px solid #c8c8c8;
  font-size: 17px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
  color: #2c2c2c;
}

header {
  margin: 0;
  padding: 0;
  font-family: 'Bodoni', serif;
}

header nav {
  margin: 0 0 0 12px;
  padding: 0;
  font-size: 2.8rem;
  display: inline-block;
  vertical-align: middle;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header li {
  margin: 0;
  padding: 0;
  display: inline;
}

header a {
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
  font-weight: lighter;
}

header a:hover {
  color: #000000;
}

header nav a {
  margin: 0 4px;
  padding: 8px 8px;
  font-style: italic;
}

header li a:hover {
  text-decoration: none;
  margin-bottom: -2px;
  border-bottom: 2px solid #000000;
}

section {
  margin: 0;
  padding: 28px 0;
}

footer {
  margin: 6px 0;
  text-align: right;
}

/* -------
   Classes
   ------- */
.main {
  padding: 0;
}

.limit {
  margin: 0 auto;
  width: 740px;
  min-width: 320px;
}

header .limit {
  border-bottom: 1px solid #000000;
}

header .logo {
  padding: 0;
  display: inline-block;
  font-size: 4rem;
  font-weight: lighter;
  vertical-align: middle;
  text-decoration: none;
}

header .logo:hover,
header .logo.active {
  text-decoration: none;
  margin-bottom: -2px;
  border-bottom: 2px solid #000000;
}

header li.active a {
  font-style: normal;
  margin-bottom: -2px;
  border-bottom: 2px solid #000000;
}

footer .limit {
  padding-top: 6px;
  border-top: 1px solid #000000;
}

footer::after {
  display: block;
  content: '';
  width: 0;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* ----------------
   Design adaptatif
   ---------------- */
@media screen and (max-width: 760px) {
  .limit {
    width: 98%;
  }

  textarea {
    width: 90%;
  }
}

@media screen and (max-width: 760px) and (max-width: 650px) {
  header li {
    display: block;
    margin: 16px;
  }

  header .logo {
    margin-left: 0;
    display: block;
  }
}
