{% extends "@theme/admin/layout.html" %}

{% block title %}Modifier un contenu{% endblock %}

{% block content %}
	<h1>Créer une page</h1>

	<form method="post" action="">
        <label for="txt-title">Titre</label>
            <input type="text" name="title" id="txt-title" />

        <label for="list-models">Modèle</label>
            <select name="model" id="list-models">
                {% for slug, model in models %}
                    <option value="{{ slug }}">{{ model.title }}</option>
                {% endfor %}
            </select>

        <input type="submit" value="Valider" />
    </form>
{% endblock %}
