{% extends "@theme/admin/layout.html" %}

{% block title %}Liste des pages{% endblock %}

{% block content %}
	<h1>Liste des pages</h1>

	<p>
		<a href="create-page.php">Créer une page</a>
	</p>

	<table>
		<tr>
			<th>Titre</th>
			<th>Slug</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>

		{% for slug, page in pages %}
			<tr>
				<td>{{ page.title }}</td>
				<td>{{ slug }}</td>
				<td><a href="edit-page.php?page={{ slug }}">Modifier</a></td>
				<td><a href="remove-page.php?page={{ slug }}">Supprimer</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
