*
*::before
*::after
	box-sizing border-box

html
body
	margin 0
	padding 0

html
	font-size 62.5%

body
	background #f4f4f4
	font-size 1.8rem
	font-family $font

a
.btn-link
input.btn-link
	margin 0
	padding 0
	outline none
	border none
	color $link-color
	font-weight normal
	text-decoration underline
	font-family $font
	border-radius 0
	transition all .2s

	&:hover
		text-decoration underline
		background none
		color darken($link-color, 50%)
