{% extends "admin/layout.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
	<h2>Liste des pages</h2>

	<table>
		<tr>
			<th>Titre</th>
			<th>Slug</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>

		{% for slug, page in pages %}
			<tr>
				<td>{{ page.fields.title }}</td>
				<td>{{ slug }}</td>
				<td><a href="#">Modifier</a></td>
				<td><a href="#">Supprimer</a></td>
			</tr>
		{% endfor %}
	</table>

	<h2>Liste des utilisateurs</h2>

	<table>
		<tr>
			<th>Pseudonyme</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>

		{% for user in app.getAllUsers() %}
			<tr>
				<td>{{ user.username }}</td>
				<td><a href="#">Modifier</a></td>
				<td><a href="#">Supprimer</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
