<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

		{% block head %}
			<title>{% block title %}{% endblock %} - {{ settings.site.name }}</title>
		{% endblock %}

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ url.theme }}css/style-admin.css" />
		{% endblock %}
	</head>

	<body>
		<div class="main">
			<section>
				<div class="sidebar-menu">
					<nav>
						<ul>
							<li class="site-url">
								<a href="{{ url.site }}">{{ settings.site.name }}</a>
							</li>

							{% for name, url in menu_items %}
								<li>
									<a href="{{ url }}">{{ name }}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
				</div>

				<div class="content">{% block content %}{% endblock %}</div>
			</section>
		</div>
	</body>
</html>
