<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

		{% block head %}
			<title>{% block title %}{% endblock %} - {{ settings.site.name }}</title>
		{% endblock %}

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ url.theme }}css/style.css" />
		{% endblock %}
	</head>

	<body>
		<div class="main">
			<header>
				<div class="limit">
					<nav>
						<ul>
							<li><a href="{{ url.site ~ 'admin' }}">Tableau de bord</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<section>
				<div class="limit">{% block content %}{% endblock %}</div>
			</section>
		</div>
	</body>
</html>
