{% extends "tpl.html" %}

{% block title %}Administration{% endblock %}

{% block content %}
	<h1>Administration</h1>

	<ul>
		<li><a href="{{ genLink('GET admin.models.home') }}">Gérer les modèles</a></li>
		<li><a href="#">Créer une page</a></li>
	</ul>

	<form method="post" action="">
		<div class="row">
			<div class="col-xs-4">
				<p>Créer une page avec le modèle</p>
			</div>

			<div class="col-xs-4">
				<select name="model">
					{% for model in models %}
						<option value="{{ model.slug }}">{{ model.title }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="col-xs-4">
				<input type="submit" value="Valider" />
			</div>
		</div>
	</form>
{% endblock %}
