<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

		{% block head %}
			<title>{% block title %}{% endblock %} - Pi</title>
		{% endblock %}

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ url.theme }}css/style.css" />
		{% endblock %}
	</head>

	<body>
		<div class="main">
			<header>
				<div class="limit">
					<a href="{{ url.site }}" class="logo">
						{{ config.site.name }}
					</a>

					<nav>
						<ul>
							{% for slug, page in app.getAllPages().containsField('content') %}
								<li><a href="{{ slug }}">{{ page.fields.title }}</a></li>
							{% endfor %}
						</ul>
					</nav>
				</div>
			</header>

			<section>
				<div class="limit">{% block content %}{% endblock %}</div>
			</section>

			<footer>
				<div class="limit">
					{% block footer %}
						<div class="float-right">
							Pi &middot; 2016
						</div>
					{% endblock %}
				</div>
			</footer>
		</div>
	</body>
</html>
