.row
	font-family FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif
	letter-spacing -0.31em
	text-rendering optimizespeed

[class^="col-"]
	display inline-block
	font-family $font
	letter-spacing normal
	word-spacing normal
	vertical-align top
	text-rendering auto
	padding 12px

.col-xs-3
	width 25%

.col-xs-4
	width 33.333333%

.col-xs-6
	width 50%

.col-xs-8
	width 66.666666%

.col-xs-9
	width 75%

.col-xs-12
	width 100%
