.row
	font-family FreeSans, Arimo, 'Droid Sans', Helvetica, Arial, sans-serif
	letter-spacing -0.31em
	text-rendering optimizespeed

[class^="col-"]
	display inline-block
	font-family $font
	letter-spacing normal
	word-spacing normal
	vertical-align top
	text-rendering auto
	padding 12px

for i in (1 .. 12)
	.col-xs-{i}
		width (i * 100 / 12)%

@media (min-width: $screen-sm)
	for i in (1 .. 12)
		.col-sm-{i}
			width (i * 100 / 12)%

@media (min-width: $screen-md)
	for i in (1 .. 12)
		.col-md-{i}
			width (i * 100 / 12)%

@media (min-width: $screen-lg)
	for i in (1 .. 12)
		.col-lg-{i}
			width (i * 100 / 12)%
